* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 0.625rem;
  /* justify-content: center; */
  /* justify-content: space-evenly;*/
  /* justify-content: start; */
  /* justify-content: end; */
  /* align-content: center; */
  /* align-content: space-around; */
}
img {
  width: 22.5rem;
  height: 20.5rem;
}

#two {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* grid-column: 2/4;  same as above */
  /* grid-column: 2 / span 2; */
  /* grid-row: 2/4; */
}
